*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
button{
	outline: none;
    border: none;
    text-align: center;
    -webkit-tap-highlight-color:transparent;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 14px;
}
#app{
    min-width: 1024px;
    width: 100%;
    height: 100%;
}
