.content {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 40px;
	bottom: 31px;
	width: auto;
	height: auto;
	overflow: hidden;
}

.list-tit {
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 17px;
	width: 100%;
}

.list-container {
	width: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 28px;
	bottom: 0;
	margin: auto;
	height: auto;
	overflow-y: auto;
}

table {
	width: 100%;
	table-layout: fixed;
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-bottom: none;
}


tr {
	transition: all 0.1s linear;
}

tr:nth-child(2n+1){
	background: #f4fafe;
}

tr:hover {
	background: #ccc;
}
td,
th {
	height: 28px;
	border-color: #cfdde7;
	font-size: 12px;
	word-wrap:break-word;

}

th {
	background: url(../img/th_bg.png) repeat-x;
	color: #2899ee;
	text-align: center;
	border-bottom: none;
	white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

td {
	color: #333;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}



.mode{
	margin: 5px;
	font-size: 12px;
	color: #2899ee;
	text-decoration: underline;
}
